<div  class='grid h-[32rem] place-content-center w-full'>
    <div class=' mt-0 flex flex-col gap-y-7  min-h-[100%] justify-center items-center'>
      <div>
        <img [src]="CheckImage" alt="" />
      </div>
      <div>
        <span class=' text-color-primary-marine-blue font-bold text-2xl'>Thank you!</span>
      </div>
        <div>
          <p class='text-center text-color-cool-gray text-lg'>
            Thanks for confirming your subscription! <br />
            We hope you have fun using our <br />
            platform. If you ever need support, <br />
            please feel free to email us at <br />
            support@loremgaming.com.
          </p>
        </div>
    </div>

</div>