@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

*{
  font-family: Ubuntu, sans-serif;
}


/**


### Font

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu)
- Weights: 400, 500, 700
*/


@layer base {
    html, body {
      @apply font-Ubuntu
    }
}


/* html, body { height: 100%; } */

